* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c9cec9;
}

.site-title  {
    display: block;
    text-align: center;
    letter-spacing: 4px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0px;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    margin: 40px auto;
    z-index: 10;
    background-color: black;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}